<div class="container py-5">
    <div class="col">
        <div class="card shadow-sm mb-3">
            <table class="table table-borderless align-middle text-center" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Photo</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>
                            <img style="height:200px; width:200px" role="img" src="~/Content/images/NoProductImage.png" />
                        </td>
                        <td>Minyak Kayu putih</td>
                        <td>5000</td>
                        <td><input type="number" /></td>
                        <td>10000</td>
                        <td><button class="btn btn-danger"><span class="bi-trash"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card shadow-sm mb-3">
            <table class="table table-borderless align-middle text-center" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Photo</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>
                            <img style="height:200px; width:200px" role="img" src="~/Content/images/NoProductImage.png" />
                        </td>
                        <td>Minyak Kayu putih</td>
                        <td>5000</td>
                        <td><input type="number" /></td>
                        <td>10000</td>
                        <td><button class="btn btn-danger"><span class="bi-trash"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

